<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div
          *ngIf="!canShowSearchAsOverlay"
          class="normal-search"
          id="seach-box"
        >
          <input
          [(ngModel)]="searchValue"
            (keydown.enter)="onSearch($event)"
            type="search"
            class="search"
            name=""
            id=""
            placeholder="Search..."
          />
        </div>
        <div *ngIf="canShowSearchAsOverlay">
          <button
            [cdkMenuTriggerFor]="searchOverlay"
            class="search-menu-btn ripple"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 18 18"
            >
              <g
                fill="none"
                fill-rule="evenodd"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.67"
                transform="translate(1 1)"
              >
                <circle cx="7.11" cy="7.11" r="7.11"></circle>
                <path d="M16 16l-3.87-3.87"></path>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fas fa-sort menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>
        <ng-template #loginButton>
          <div class="head-login-container">
            <button class="head-login-item-btn" (click)="login()">Login</button>
          </div>
        </ng-template>
      </div>
      <div
        class="head-user-avatar-container"
        *ngIf="isLoggedIn; else loginButton"
      >
        <div class="head-user-avatar" [cdkMenuTriggerFor]="profile">
          <img
            src="assets/images/profile_pic.jpg"
            alt="user"
            class="user-avatar"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input 
    [(ngModel)]="searchValue"
      (keydown.enter)="onSearch($event)"
      type="search"
      class="search"
      name=""
      id=""
      placeholder="Search..."
    />
    <button class="search-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 18 18"
      >
        <g
          fill="none"
          fill-rule="evenodd"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.67"
          transform="translate(1 1)"
        >
          <circle cx="7.11" cy="7.11" r="7.11"></circle>
          <path d="M16 16l-3.87-3.87"></path>
        </g>
      </svg>
    </button>
  </div>
</ng-template>
<ng-template #profile>
  <div class="cdk-menu">
    <div class="cdk-menu-item" (click)="onProfileClick()">
      <span>Profile</span>
    </div>
    <div class="cdk-menu-item" (click)="onLogoutClick()">
      <span>Logout</span>
    </div>
  </div>
</ng-template>
