<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input
            type="search"
            class="search"
            name=""
            id=""
            placeholder="Search..."
          />
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-expanded menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
            <button class="head-menu-item-btn ripple">
              <i class="far fa-comment-alt menu-icon"></i>
            </button>
          </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
            <img src="assets/images/profile_pic.jpg" alt="user" class="user-avatar">
            
        </div>
      </div>
    </div>
  </div>
</div>
