<article class="book-card-wrapper">
  <a [href]="generateBookLink(book?.title, book?.id)" class="card-link"></a>
  <div class="upper">
    <div class="colored-container"></div>
    <div class="image-wrapper">
      <img [src]="book?.coverPhoto" />
    </div>
  </div>
  <div class="middle">
    <p class="book-title">
      {{ book?.title }}
    </p>
    <a [href]="'/author/' + book?.authors?.[0]?.id" class="author-link">
      {{ book?.authors?.[0]?.name }}
    </a>
  </div>
  <div class="lower"></div>
</article>
