<div class="add-container">
  <div class="form-wrapper">
    <form [formGroup]="form">
      <div class="labeled-input">
        <label for="name">Name</label>
        <input pInputText id="name" formControlName="name" />
      </div>
      <div class="labeled-input">
        <label for="description">Description</label>
        <input pInputText id="description" formControlName="description" />
      </div>
      <div class="labeled-input">
        <label for="profilepic">Profile Picture</label>
        <p-fileUpload
          id="profilepic"
          name="profilepic"
          (onSelect)="onFileUpload($event)"
          accept="image/*"
          [auto]="true"
          mode="basic"
        ></p-fileUpload>
        <img *ngIf="profilePic" [src]="profilePic" class="profilePicMini" />
      </div>
      <button (click)="onSubmitAuthor()">Submit</button>
    </form>
  </div>
</div>
