<div class="add-container">
  <div class="form-wrapper">
    <form [formGroup]="form">
      <app-labeled-input
        [label]="'Name'"
        [fieldId]="'name'"
        [fieldName]="'name'"
        [inputType]="'input'"
        [validationMessages]="authorValidationMessages['name']"
        [inputControl]="getFormControlByName('name')!"
      ></app-labeled-input>
      <app-labeled-input
        [label]="'Description'"
        [fieldId]="'description'"
        [fieldName]="'description'"
        [inputType]="'textarea'"
        [validationMessages]="authorValidationMessages['description']"
        [inputControl]="getFormControlByName('description')!"
      ></app-labeled-input>
      <app-labeled-input
        [photo]="profilePic"
        inputType="file-upload"
        [required]="true"
        fieldId="profilePic"
        label="Author Picture"
        (coverPhotoNameChange)="handleAuthorPhotoNameChange($event)"
      ></app-labeled-input>
      <p-button (click)="onSubmitAuthor()">Submit</p-button>
    </form>
  </div>
</div>
