<p-autoComplete
  [formControl]="inputControl"
  (ngModelChange)="onChange($event)"
  (completeMethod)="search.emit($event.query)"
  [suggestions]="searchResults | async"
  [minLength]="3"
  [multiple]="multiple"
  [field]="field"
  [required]="required"
  [dataKey]="dataKey"
  [styleClass]="'p-autoComplete-override'"
  [inputStyleClass]="'p-autoComplete-override'"
  [forceSelection]="forceSelection"
>
  <ng-template let-value pTemplate="selectedItem">
    <ng-container
      [ngTemplateOutlet]="optionTemplate"
      [ngTemplateOutletContext]="{ $implicit: value }"
    ></ng-container>
  </ng-template>
  <ng-template let-searchedItem pTemplate="item">
    <ng-container
      [ngTemplateOutlet]="optionTemplate"
      [ngTemplateOutletContext]="{ $implicit: searchedItem }"
    ></ng-container>
  </ng-template>
</p-autoComplete>
