.p-fluid{
    height: 100%;
    width: 100%;
}
span {
  margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.action-btn {
  background-color: #263238;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

button {
  width: 100%;
  border: none;
  background-color: transparent;
}

.continue-with-google {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;

  .btn-wrapper {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    svg {
      width: 1.5rem;
      height: fit-content;
    }
    p {
        
        margin: 0 auto;
    }
  }
}

