<div class="book-wrapper">
  <p-button
    *hasRoles="[roles.ROLE_ADMIN, roles.ROLE_LIBRARIAN]"
    (onClick)="openEditBook()"
    >Edit Book</p-button
  >
  <p-button  (onClick)="deleteBook()" *hasRoles="[roles.ROLE_ADMIN, roles.ROLE_LIBRARIAN]"
    >Delete Book</p-button
  >
  <div class="book">
    <div class="image-wrapper">
      <img [src]="bookPhoto" alt="Book Cover" />
    </div>
    <div class="right">
      <div class="heading">
        <h1 class="book-title">{{ book?.title }}</h1>
        <p class="book-background-info">
          By
          <ng-container *ngFor="let author of book?.authors; let last = last">
            <a [href]="'/author/' + author.id">{{ author.name }}</a
            >{{ !last ? ", " : "" }}
          </ng-container>
        </p>
        <p class="year">{{ book?.publicationDate }}</p>
        <p-tabMenu
          (activeItemChange)="onActiveItemChange($event)"
          [model]="items"
          [activeItem]="activeItem"
        ></p-tabMenu>
        <div class="card1">
          <div *ngIf="activeItem?.label === 'Overview' && title">
            <app-overview
              [id]="id"
              [book]="book"
              [title]="title"
            ></app-overview>
          </div>
          <div *ngIf="activeItem?.label === 'Other editions' && title">
            <app-other-editions
              [id]="id"
              [title]="title"
              [book]="book"
            ></app-other-editions>
          </div>
          <div
            *ngIf="
              activeItem?.label === 'More by authors' &&
              authors &&
              authors.length > 0
            "
          >
            <app-more-by-author [authors]="authors"></app-more-by-author>
          </div>
          <div
            *hasRoles="[
              roles.ROLE_ADMIN,
              roles.ROLE_ASSISTANT,
              roles.ROLE_LIBRARIAN,
              roles.ROLE_STUDENT,
              roles.ROLE_TEACHER
            ]"
          >
            <div *ngIf="activeItem?.label === 'Borrow book' && title">
              <app-borrow-a-book
                [book]="book"
                [title]="title"
                [id]="id"
              ></app-borrow-a-book>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
