<div class="add-container">
    <div class="form-wrapper">
      <form [formGroup]="form">
        <div class="labeled-input">
          <label for="name">Name</label>
          <input pInputText id="name" formControlName="name" />
        </div>
        <div class="labeled-input">
          <label for="description">Description</label>
          <input pInputText id="description" formControlName="description" />
        </div>
        <button (click)="onSubmit()">submit</button>
      </form>
    </div>
  </div>
  