<div class="dashboard">
  <h2 class="dashboard-title">Dashboard</h2>
  <div class="stats-up-row">
    <div class="stat-box-container">
      <app-stat-box
        class="stat-box-card"
        *ngFor="let statBox of statBoxData"
        [statBoxData]="statBox"
      ></app-stat-box>
    </div>
  </div>
  <!-- <p-chart type="line" [data]="booksRentingVsCheckingOutData"></p-chart>
  <p-chart type="line" [data]="booksOverdueCountData"></p-chart> -->
  <!-- <div class="date-picker">
    <label for="startDate">Start Date:</label>
    <p-calendar id="startDate" [(ngModel)]="startDate" (ngModelChange)="fetchData()"></p-calendar>
    
    <label for="endDate">End Date:</label>
    <p-calendar id="endDate" [(ngModel)]="endDate" (ngModelChange)="fetchData()"></p-calendar>
  </div> -->
  
</div>
